mat-grid-list {
    max-width: 1000px;
    position: inherit;
}
mat-grid-tile {
    background: #F0F0F0;
    height: 100%;
}
mat-grid-tile-header {
    background: #F0F0F0 !important;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;

    color: #000000 !important;
}
.expanded-tile {
    width: 90% !important;
}
.expanded-cols-div {
    display: flex;
    flex-direction: row-reverse;
}
.expanded-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.patient-cards {
    margin: 10px;
}
.cdk-drop-list {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
.cdk-drag-placeholder {
opacity: 0;
}

.cdk-drag-animating {
transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

 