mat-grid-list {
    max-width: 1000px;
    position: inherit;
}
mat-grid-tile {
    background: gray;
}
.expanded-tile {
    width: 90% !important;
}
.expanded-cols-div {
    display: flex;
    flex-direction: row-reverse;
}
.expanded-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.patient-cards {
    margin: 10px;
}

 